body{
    background: linear-gradient(68.15deg, #000000 16.62%, #1028af 85.61%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(0, 17, 255);
    transition: 0.3s all;
}


h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

span{
    color: rgb(14, 27, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 580px;
}
